.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px
}

input {
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transform: scale(1.05);
}

input:active {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transform: scale(0.99);
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}

.success {
    color: green;
    font-size: 16px;
    margin: 10px 0;
}

.cadastro {
    display: flex;
    width: 250px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    justify-content: center;

}

.cadastro:hover {
    background-color: #1b71ce;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    transform: scale(1.05);
}

.cadastro:active {
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    transform: scale(0.99);
}

.entre {
    display: flex;
    align-items: center;
    justify-content: center;
}